<h1>SUPER HERO QUIZ</h1>

<p>Generate your super hero name and powers with this fun, interactive quiz!</p>

<div class="container">
  <div class="row justify-content-center">
    <%= link_to 'GET STARTED', new_user_path, class: 'btn btn-lg btn-danger' %>
  </div>
</div>